@font-face {
	/* https://www.fontspace.com/ */
	font-family: AssassinNinja;
	src: url(AssassinNinja.ttf);
}

* {
	font-family: 'AssassinNinja';
}

h1 {
	font-size: 5rem;
}

body {
	background-image: url('images/bg.jpg');
}

.container-fluid {
	padding: 100px;
}

.btn {
	font-size: 2.5rem;
	width: 250px;
	display: block;
	text-align: left;
	padding-left: 30px;
}

.btn-volume {
	position: fixed;
	bottom: 0;
	left: 0;
	border: none;
}

.btn-outline-dark {
	color: black;
}

.btn-outline-dark:hover {
	background-color: black;
}

.buttons {
	display: inline-block;
	margin: 1% 0;
	margin-left: 30px;
	vertical-align: top;
}

.matrix {
	vertical-align: top;
	margin: 1% 0;
	display: inline-block;
}
.matrix input {
	font-size: 2.25rem;
	height: 1.5em;
	width: 1.5em;
	text-align: center;
	border: 1px #e6cb93 solid;
	box-sizing: border-box;
}

.blank {
	color: #377c07;
}

/* SAKURA PETALS - START */
.petals {
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(#333, #000);
    overflow: hidding;
    display:flex;
    justify-content: center;
    align-items: center;
}

.set img {
    height: 100%;
}

.set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.set div {
    position: absolute;
    display: block;
}

.set div:nth-child(1) {
    height: 45px;
    left: 10%;
    animation: animate 15s linear infinite;
    animation-delay: -15s;
}
.set div:nth-child(2) {
    height: 35px;
    left: 20%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}
.set div:nth-child(3) {
    height: 30px;
    left: 30%;
    animation: animate 25s linear infinite;
    animation-delay: -1s;
}
.set div:nth-child(4) {
    height: 40px;
    left: 40%;
    animation: animate 15s linear infinite;
    animation-delay: -20s;
}
.set div:nth-child(5) {
    height: 50px;
    left: 50%;
    animation: animate 10s linear infinite;
    animation-delay: 0s;
}
.set div:nth-child(6) {
    height: 40px;
    left: 60%;
    animation: animate 12s linear infinite;
    animation-delay: -25s;
}
.set div:nth-child(7) {
    height: 50px;
    left: 70%;
    animation: animate 15s linear infinite;
    animation-delay: -4s;
}
.set div:nth-child(8) {
    height: 35px;
    left: 80%;
    animation: animate 17s linear infinite;
    animation-delay: -0s;
}

@keyframes animate {
    0% {
        opacity: 0;
        bottom: 110%;
        transform: translateX(20px) rotate(0deg)
    }

    10% {
        opacity: 1;
    }
    20% {
        transform: translateX(-20px) rotate(22deg)
    }
    40% {
        transform: translateX(-20px) rotate(45deg)
    }
    60% {
        transform: translateX(20px) rotate(115deg)
    }
    80% {
        transform: translateX(-20px) rotate(180deg)
    }
    95% {
        opacity: 1;
    }
    100% {
        bottom: 5%;
        opacity: 0;
        transform: translateX(-20px) rotate(225deg)
    }
}

/* SAKURA PETALS - END */

@media (max-width: 1000px) {
	h1 {
		font-size: 12vw;
	}

	.container-fluid {
		padding: 12%;
	}

	.matrix input {
		font-size: 5.4vw;
	}

	.buttons {
		margin-left: 0;
	}

	.btn {
		width: 73vw;
		font-size: 2.5rem;
		text-align: center;
		padding: auto;
	}
}

@media (max-width: 500px) {
	.btn {
		font-size: 8.5vw;
	}
}
